* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: clip;
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #2C282C;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-transform: uppercase;
    padding: 2rem;
    padding-bottom: 4rem; /* espaço pro footer */
    text-align: center;
}

#img_nerd {
    max-width: 90%;
    width: 400px;
    height: auto;
    margin-bottom: 2rem;
}

h1 {
    font-size: 2rem;
    line-height: 1.2;
    max-width: 90%;
}

#main-footer {
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: #1f1b1f;
    color: #aaa;
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media (max-height: 500px) {
    #main-footer {
        position: static;
        /* Para evitar sobreposição em telas muito baixas */
    }
}

/* Confetes */
#confetti-container {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    top: 0;
    left: 0;
}

.confetti {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 10px;
    opacity: 0.9;
    animation: explode 2s ease-out forwards;
}

@keyframes explode {
    0% {
        transform: translate(0, 0) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translate(var(--x), var(--y)) rotate(720deg);
        opacity: 0;
    }
}

/* Responsividade */
@media (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
    }

    #img_nerd {
        width: 280px;
    }
}

/* styles.css */

/* 1. Define as variáveis de cor para o modo padrão (Light) */
:root {
    --cor-fundo: #FFFFFF;
    --cor-texto: #111827;
    --cor-primaria: #3B82F6;
    --cor-borda: #E5E7EB;
    --cor-fundo-card: #F9FAFB;
    
}

/* 2. Sobrescreve as variáveis para o modo Dark */
html[data-theme='dark'] {
    --cor-fundo: #2C282C;
    --cor-texto: #F9FAFB;
    --cor-primaria: #60A5FA;
    --cor-borda: #374151;
    --cor-fundo-card: #1F2937;
    --cor-footer: #1f1b1f;
}

/* 3. Aplica as variáveis nos seus elementos */
body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Transição suave */
}

.meu-card {
    background-color: var(--cor-fundo-card);
    border: 1px solid var(--cor-borda);
    padding: 1rem;
    border-radius: 8px;
}

.meu-botao {
    background-color: var(--cor-primaria);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer; }